.mp4-to-mp3 {
  .result-item {
    background: #f8f9fa;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 16px;

    h4 {
      margin: 0 0 10px;
      color: var(--color-main);
    }

    .download-btn {
      margin-top: 10px;
      padding: 8px 20px;
      border: none;
      border-radius: 6px;
      background: green;
      color: #fff;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        opacity: .9;
      }

      &.primary {
        background: var(--color-main);
        padding: 12px 30px;
        font-size: 15px;
      }
    }
  }
}