
.time-line-container-2{
  height: 39vh;
  background-color: #111;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #333;
  overflow: auto;
  border-radius: 12px;
   animation: show .5s linear;
}
.almo-editor-container {
  height: 39vh;
  background: red;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #333;
  overflow: auto;
  border-radius: 12px;
}
 
  
@keyframes show {
    0%{
      opacity: 0;
      transform: scale(0.1);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
}